<h1>Проекты</h1>

<table>
  <thead>
    <tr>
      <td></td>
      <td>Организиция</td>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class='main'><%= link_to project.title, project_path(project) %></td>
        <td><%= link_to project.organization.title, organization_path(project.organization) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
