.connectable_statuses
  display: inline-block

  .status
    display: inline-block
    background-size: cover
    height: 15px
    width: 15px

    &.hubstaff-logo
      background-image: url('hubstaff-logo')

    &.azure-logo
      background-image: url('azure-logo')

    &.connected
      opacity: 1

    &.not_connected
      opacity: .2
