<h1>Организации</h1>

<table>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.title, organization_path(organization) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Добавить', new_organization_path%>
