<div class='resource_title'>
  <span>Hubstaff - Azure Interface</span>
  <h1>HAZI</h1>
</div>

<div class='toggle-wrapper'>
  <div class='toggler'>
    <p><a href='javascript:void(0)'>Руководство</a></p>
  </div>
  <div class='toggle-content'>
    <%= @rendered_usage.html_safe %>
  </div>
</div>
